doctype html
html
  head
    title Career Builder - Dashboard
    style(type='text/css').
      p {
      padding-left: 20px;
      font-weight: bold;
      }
      input[type=text] {
      color: grey;
      padding-left: 20px;
      }
      .submitbtn {
      padding-left: 20px;
      color: blue;
      font-weight: bold;
      }
  body
    h1 Career dasboard
    img(src='./slide1.jpg')
    table
      tr
        td
          div(style='color:#0000FF')

            input.submitbtn(type='submit', name='availableTasks', value='Available Tasks')
            br
            input.submitbtn(type='submit', name='availableTasks', value='Submitted Tasks')
            br
            input.submitbtn(type='submit', name='availableTasks', value='Accepted Tasks')
            br
            input.submitbtn(type='submit', name='availableTasks', value='Finished Tasks')
            br
            a(href="/task")
            button(type="button") Create Task
        td
          div
            table
              each item in data
                tr
                  div(label='task1')
                    | Task: #{item.taskType}
                    br
                    |                             Requester: #{item.clientEmail}
                    br
                    |                             Task URL: #{item.taskURL}
                    br
                    |                             Task Type: #{item.taskType}
                    br
                    br
                    br
            